body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $colour-background;
}

header{
    margin: 1.5rem;
    text-align: center;

    *{
        margin: 0.5rem;
    }
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    *{
        margin: 0.5rem;
    }

    .label-subtitle{
        margin: 0.1rem;
    }

    .input-box{
        transform: scale(1.2);
    }
}