body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $colour-background;
}

header{
    margin: 1.5rem;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    *{
        margin: 0.5rem;
    }
}