
header{
    font-family: $font-title;
    color: $colour-text;

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.5rem;
    }
}

main{
    font-family: $font-body;
    color: $colour-text;

    .page-words{
        font-size: 1.25rem;
    }

    .button{
        font-size: 1rem;
    }
}