@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

$colour-background: antiquewhite;
$colour-text: rgb(19, 19, 79);

$colour-button-background: rgb(58, 50, 113);
$colour-button-pressed: rgb(35, 30, 68);
$colour-button-text: white;

$font-title: "Poppins", Arial, Helvetica, sans-serif;
$font-body: "Albert Sans", Arial, Helvetica, sans-serif;