* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
main * {
  margin: 1rem;
}
main .page-words {
  font-size: 2rem;
}